{#
/**
 * @file
 * Template file for the theming time_block.
 * Available variables:
 * - country: Country of the site.
 * - city: city of the site.
 * - time: Time in the country where the site belong.
 *
 */
#}
<div class="col-sm-3">
  <h2>{{ country }}</h2>
  <p>{{ city }}</p>
  <h2>{{ time }}</h2>
</div>